<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>It's a GIF!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="gif.jpg" type="image/jpg" sizes="16x16">
  </head>
  <body>
    <div class= "content">
    <h1>It's a GIF(t)!</h1>
    
    <!--guestimate: 8043-->
  <form method="POST" action="/find_gif">
    <!--<h3>What kind of GIFs would you like to search for?</h3>-->
    <input type= "text" name= "gif_search" placeholder= "Search for a GIF!">
    
    
    <!--<h3>Please input your birthday in the form mm/dd/yyyy</h3>-->
    <!-- <input type= "text" name= "birthday">-->
    <!--<input type= "submit">-->
    <!--<h3>Please put the phrase you would like to klossify</h3>-->
    <!--<input type= "text" name= "phrase">-->
    <!--<input type= "submit">-->
    
  </form>
  </div>
  </body>
</html>
