<!DOCTYPE html>
<html>
  <head>
    	<link rel="icon" href="gif.jpg" type="image/jpg" sizes="16x16">
    <link rel="stylesheet" href="css/results.css">
    <meta charset="UTF-8">
    <title>It's a GIF!</title>
  </head>
  <body>
  <div id= "answer1">
   <img src= "<%=@answer%>">
   
  </div>   
  </body>
</html>